[submodule "third_party/ScheduleFlow"]
	path = third_party/ScheduleFlow
	url = https://github.com/whbrewer/ScheduleFlow
[submodule "models/POWER9CSM"]
	path = models/POWER9CSM
	url = https://code.ornl.gov/exadigit/POWER9CSM.git
